<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re-exam-FrandyJunior-FrandyJunior</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans|Wire+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>


  <div class="row nav">
    <div class="small-6 columns">
      <div class="top-bar-left">
        <h1>Examen Final M8-UF5</h1>
        <p>Frandy Junior Santana</p>
        </div>
    </div>
    <div class="small-6 columns">
      <div class="top-bar-right">

        <div class="secondary button-group">
          <a class="button">Home</a>
          <a class="dropdown button arrow-only">Page</a>
          <a class="button">Grid</a>
          <a class="button">Simple</a>
        </div>
      </div>
      </div>
  </div>


<div class="row header">
<div class="small-7 columns">
  <h1>We Have a Passion</h1>
  <p>For great desings</p>
  <div class="small button-group">
    <a class="button">Secondary button</a>
    <a class="button">Primary button</a>
  </div>
</div>
<div class="small-5 columns">
<img src="img/llibreta.jpg" alt="" />
</div>
</div>



<div class="row welcome ">
  <div class="small-12 columns">

  <h2>Welcome</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
  </p>
</div>
</div>

<div class="row content">
  <div class="small-4 columns">
    <h3>1/3 Column</h3>
    <img src="img/img_buida.png" alt="" />
       <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#">Read more>></a>
    </div>

    <div class="small-4 columns">
      <h3>1/3 Column</h3>
      <img src="img/img_buida.png" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="#">Read more>></a>
      </div>

      <div class="small-4 columns">
        <h3>1/3 Column</h3>
        <img src="img/img_buida.png" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#">Read more>></a>
        </div>
</div>


<div class="row footer">
  <div class="small-3 columns">
  <h3>About Company</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
    <a href="#">Terms of use</a><br>
    <a href="#">Privacy policy</a><br>
    <a href="#">FAQ</a><br>
    <a href="#">Sitemap</a><br>
  </div>

<div class="small-3 columns">
  <h3>Recent Blog Posts</h3>
      <a href="#">Lorem ipsum dolor sit amet,</a>
      <p> 2 hours ago </p>

      <a href="#">Lorem ipsum dolor sit amet,</a>
      <p> 2 hours ago </p>

      <a href="#">Lorem ipsum dolor sit amet,</a>
      <p> 2 hours ago </p>

      <a href="#">VIEW ALL POSTS</a>
  </div>

<div class="small-3 columns">
  <h3>Sample Footer Content</h3>
    




      </div>

  <div class="small-3 columns">
  <h3>Get in Touch</h3>
  <i class="fa fa-envelope-o"></i> <b>phone:</b><br>
  <p>Lorem ipsum dolor</p>
  <i class="fa fa-home"></i> <b>Email:</b><br>
  <p>Lorem ipsum dolor</p>
  <i class="fa fa-phone"></i> <b>Address:</b><br>
  <p>Lorem ipsum dolor</p>




</div>
</div>

<div class="row footer2">
  <p>
    Copyright
  </p>
  <div class="small-12 columns">
  <p> </p>
  <a href="#"><i class="fa fa-facebook-official">FACEBOOK</i></a>
  <a href="#"><i class="fa fa-twitter">TWITTER</i></a>
  <a href="#"><i class="fa fa-pinterest">PINTEREST</i></a>
  <a href="#"><i class="fa fa-rss">RSS</i></a>

  </div>
</div>



</body>

</html>
